h1,
h2 {
  padding: 64px 0 32px;
  text-align: center;
  font-size: 50px;
  margin: 0;
}
section {
  padding: 32px;
  &#contact {
    text-align: center;
  }
  h3 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 32px;
  }
  p {
    color: #575457;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 16px;
  }
  b {
    font-size: 25px;
  }
}

:host {
  .links {
    text-align: center;
    .mat-flat-button {
      margin: 6px;
    }
  }
}

.span {
  background-color: #f7b500;
  font-weight: bold;
  color: black;
}

.logo {
  width: 150px;
}

.link {
  margin-right: 0;
  height: 80px;
  color: #575457;
  font-size: 20px;
  text-align: right;
  padding: 0;
  img {
    width: 80px;
  }
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: lightgrey;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #f7b500;
}
