<section id="home">
  <div class="container">
    <div>
      <h1>¡Hola, Javascripter!</h1>
      <p>¡Te damos la bienvenida a <b>AlmeríaJS</b>!</p>
      <p>
        Somos un grupo de apasionados de la tecnología que nos juntamos (física o virtualmente) cada vez que tenemos
        ocasión para hablar de cualquier tema relacionado con Javascript, frameworks, librerías, cualquier tipo de
        herramienta o incluso servicios para explotar nuestas aplicaiones web.
      </p>
      <p>Solemos terminar con lo que más nos gusta, networking con 🍻</p>
      <p>¡ Ya llevamos haciéndolo 4 años 🎂!</p>
    </div>
    <div class="video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/nndmXldbtGE?start=5"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <!-- <div>
      <h2>Próximos eventos</h2>
      <mat-horizontal-stepper #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>event</mat-icon>
        </ng-template>
        <mat-step *ngFor="let talk of talks" [label]="talk.date" state="edit">
          <mat-card>
            <mat-card-content>
              <img [src]="talk.image" alt="cartel del evento" />
            </mat-card-content>

            <mat-card-actions class="link">
              <a *ngIf="talk.link" mat-button [href]="talk.link"
                >Apúntate al evento en <img src="/assets/images/logos/meetup_logo.png" alt="meetup"
              /></a>
            </mat-card-actions>
          </mat-card>
        </mat-step>
      </mat-horizontal-stepper>
    </div> -->
    <div>
      <h2>¿Quieres dar una charla con nosotros?</h2>
      <p>
        No necesitas ser el fundador de un framework con 30k stargazers para poder subirte a un escenario (o enchufarte
        la webcam) y contarle a la gente alguna herramienta o framework con el que estés trabajando últimamente o esa
        nueva librería que han publicado en npm.
      </p>
      <p>
        Tampoco es necesario ser un ponentes experimentado para hablar en este grupo, de hecho en estos años 10 personas
        han dado su primera charla en nuestro grupo.
      </p>
      <p>Además os podemos echar una mano a prepararla si no tenéis mucha experiencia.</p>
      <p style="text-align: center">
        <a href="https://forms.gle/FNnbFdj3bng2U15A9" mat-flat-button class="span">
          <mat-icon>link</mat-icon> Propón una charla
        </a>
      </p>
    </div>

    <div>
      <h2>Sponsors y colaboradores</h2>
      <p>Queremos agradecer a nuestros sponsors el hacer esto posible.</p>
      <p style="text-align: center">
        <a href="https://coderty.com/" mat-flat-button class="logo"
          ><img src="/assets/images/logos/coderty.png" alt="coderty-logo"
        /></a>
        <a href="https://runnerty.io/" mat-flat-button class="logo"
          ><img src="/assets/images/logos/runnerty.png" alt="runnerty-logo"
        /></a>
      </p>
      <p>También a nuestras amigas y amigos por ayudarnos.</p>
      <p style="text-align: center">
        <a href="http://laoficinacultural.org/" mat-flat-button class="logo-amigos"
          ><img src="/assets/images/logos/LaOficina-logo.jpg" alt="LaOficina-logo"
        /></a>
        <a href="http://soyun.ninja/" mat-flat-button class="logo-amigos"
          ><img src="/assets/images/logos/soyunninja.png" alt="Logo ninja"
        /></a>
      </p>
    </div>
  </div>
</section>
