:host {
  display: block;
  width: 100%;
}

header {
  color: #fff;
  text-align: center;
  background-color: #2196f3;
  background-image: linear-gradient(120deg, #0276b8, #f2e059);
  padding: 64px 0;
  img {
    width: 100%;
    max-width: 200px;
  }
}

.home {
  h1 {
    color: #0276b8;
    padding: 64px 0 32px;
    text-align: center;
    font-size: 50px;
    margin: 0;
  }
  section {
    padding: 32px;
    &#catalog {
      background-color: #f5f5f5;    
      padding: 64x 32px;
      h3 {
        text-align: center;
      }
    }
    &#sizes, 
    &#price { 
        .links {
        text-align: center;
        a {
          margin: 8px;
        }
      }
    }
    &#contact {
      text-align: center;
    }
    h3 {
      font-size: 40px;
      margin: 0;
      padding-bottom: 32px;
    }
    p {
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      padding-bottom: 16px;
    }
  }
}

footer {
  .mat-toolbar {
    background-color: transparent;
    .mat-icon-button {
      font-size: 20px;
    }
  }
}
