:host {
  display: block;
  width: 100%;
}

nav {
  .mat-toolbar {
    background-color: transparent;
    .mat-icon-button {
      font-size: 20px;
    }
    .mat-toolbar-row {
      height: 100px !important;
    }
  }
  img {
    width: 100px;
    max-width: 200px;
  }
}

.header {
  color: #fff;
  background-color: #575457;
  background-image: linear-gradient(120deg, #f7b500, #575457);
  padding: 64px 0;
}

.icon {
  color: #f7b500;
}
.mat-flat-button {
  background-color: transparent !important;
}
