:host {
  display: block;
  width: 100%;
}

nav {
  .mat-toolbar {
    background-color: transparent;
    .mat-icon-button {
      font-size: 20px;
    }
  }
}

header {
  color: #fff;
  text-align: center;
  background-color: #2196f3;
  background-image: linear-gradient(120deg, #0276b8, #f2e059);
  padding: 64px 0;
  img {
    width: 100%;
    max-width: 200px;
  }
}
