:host {
  display: block;
  width: 100%;
}

.mat-card {
  min-height: calc(100% - 32px);
  .mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .mat-radio-button {
      margin: 5px;
    }
  }
}
